In [3]:
import pandas as pd
import numpy as np

In [8]:
tokyo= pd.read_csv('suumo_yamanote_toho5min_chikunenn10years.csv')

In [9]:
tokyo.head()

      沿線   最寄駅  駅までの所要時間（分）  家賃（万円）    占有面積    間取り
0  ＪＲ山手線  新大久保            5    6.90   9.012  ワンルーム
1  ＪＲ山手線    田端            5    6.95  12.820  ワンルーム
2  ＪＲ山手線    大崎            5    7.60  16.220     1K
3  ＪＲ山手線    大崎            5    7.80  16.220     1K
4  ＪＲ山手線    鶯谷            2    7.80  17.922  ワンルーム

In [11]:
yamanoteline = tokyo[tokyo['沿線']=='ＪＲ山手線']
yamanoteline

          沿線   最寄駅  駅までの所要時間（分）  家賃（万円）    占有面積    間取り
0      ＪＲ山手線  新大久保            5    6.90   9.012  ワンルーム
1      ＪＲ山手線    田端            5    6.95  12.820  ワンルーム
2      ＪＲ山手線    大崎            5    7.60  16.220     1K
3      ＪＲ山手線    大崎            5    7.80  16.220     1K
4      ＪＲ山手線    鶯谷            2    7.80  17.922  ワンルーム
...      ...   ...          ...     ...     ...    ...
20125  ＪＲ山手線   浜松町            5   80.00  80.392   3LDK
20126  ＪＲ山手線   浜松町            5   80.00  80.392   3LDK
20127  ＪＲ山手線   浜松町            5   80.00  80.392   3LDK
20128  ＪＲ山手線   浜松町            5   80.00  80.392   3LDK
20129  ＪＲ山手線   浜松町            5   80.00  80.392   3LDK

[13825 rows x 6 columns]

In [12]:
yamanoteline['駅までの距離（m）'] = yamanoteline['駅までの所要時間（分）']*80
yamanoteline

/var/folders/g5/k4p940jx1wd52k96v3hxn1940000gn/T/ipykernel_79520/3612333102.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yamanoteline['駅までの距離（m）'] = yamanoteline['駅までの所要時間（分）']*80

          沿線   最寄駅  駅までの所要時間（分）  家賃（万円）    占有面積    間取り  駅までの距離（m）
0      ＪＲ山手線  新大久保            5    6.90   9.012  ワンルーム        400
1      ＪＲ山手線    田端            5    6.95  12.820  ワンルーム        400
2      ＪＲ山手線    大崎            5    7.60  16.220     1K        400
3      ＪＲ山手線    大崎            5    7.80  16.220     1K        400
4      ＪＲ山手線    鶯谷            2    7.80  17.922  ワンルーム        160
...      ...   ...          ...     ...     ...    ...        ...
20125  ＪＲ山手線   浜松町            5   80.00  80.392   3LDK        400
20126  ＪＲ山手線   浜松町            5   80.00  80.392   3LDK        400
20127  ＪＲ山手線   浜松町            5   80.00  80.392   3LDK        400
20128  ＪＲ山手線   浜松町            5   80.00  80.392   3LDK        400
20129  ＪＲ山手線   浜松町            5   80.00  80.392   3LDK        400

[13825 rows x 7 columns]

In [13]:
yamanoteline.isnull()

          沿線    最寄駅  駅までの所要時間（分）  家賃（万円）   占有面積    間取り  駅までの距離（m）
0      False  False        False   False  False  False      False
1      False  False        False   False  False  False      False
2      False  False        False   False  False  False      False
3      False  False        False   False  False  False      False
4      False  False        False   False  False  False      False
...      ...    ...          ...     ...    ...    ...        ...
20125  False  False        False   False  False  False      False
20126  False  False        False   False  False  False      False
20127  False  False        False   False  False  False      False
20128  False  False        False   False  False  False      False
20129  False  False        False   False  False  False      False

[13825 rows x 7 columns]

In [15]:
yamanoteline.describe()

        駅までの所要時間（分）        家賃（万円）          占有面積     駅までの距離（m）
count  13825.000000  13825.000000  13825.000000  13825.000000
mean       3.933237     15.381037     41.100793    314.658951
std        1.148336      7.552638     58.602890     91.866897
min        1.000000      4.000000      7.820000     80.000000
25%        3.000000     11.200000     25.352000    240.000000
50%        4.000000     13.500000     27.452000    320.000000
75%        5.000000     16.900000     36.820000    400.000000
max       17.000000     80.000000    612.000000   1360.000000

In [16]:
yamanoteline.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13825 entries, 0 to 20129
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   沿線           13825 non-null  object
 1   最寄駅          13825 non-null  object
 2   駅までの所要時間（分）  13825 non-null  int64
 3   家賃（万円）       13825 non-null  float64
 4   占有面積         13825 non-null  float64
 5   間取り          13825 non-null  object
 6   駅までの距離（m）    13825 non-null  int64
dtypes: float64(2), int64(2), object(3)
memory usage: 864.1+ KB

In [26]:
yamanoteline[yamanoteline['最寄駅']=='浜松町'].sort_values(by='家賃（万円）')

          沿線  最寄駅  駅までの所要時間（分）  家賃（万円）    占有面積   間取り  駅までの距離（m）
7117   ＪＲ山手線  浜松町            5    10.9  22.512    1K        400
7113   ＪＲ山手線  浜松町            5    10.9  22.512    1K        400
7122   ＪＲ山手線  浜松町            5    10.9  22.512    1K        400
7123   ＪＲ山手線  浜松町            5    10.9  22.512    1K        400
7124   ＪＲ山手線  浜松町            5    10.9  22.512    1K        400
...      ...  ...          ...     ...     ...   ...        ...
20124  ＪＲ山手線  浜松町            5    80.0  80.392  3LDK        400
20125  ＪＲ山手線  浜松町            5    80.0  80.392  3LDK        400
20126  ＪＲ山手線  浜松町            5    80.0  80.392  3LDK        400
20127  ＪＲ山手線  浜松町            5    80.0  80.392  3LDK        400
20129  ＪＲ山手線  浜松町            5    80.0  80.392  3LDK        400

[198 rows x 7 columns]

In [25]:
yamanoteline[yamanoteline['最寄駅']=='田町'].sort_values(by='占有面積',ascending=False)

          沿線 最寄駅  駅までの所要時間（分）  家賃（万円）     占有面積    間取り  駅までの距離（m）
5142   ＪＲ山手線  田町            5     7.1  102.000  ワンルーム        400
19561  ＪＲ山手線  田町            5    29.0   55.312   2LDK        400
18023  ＪＲ山手線  田町            5    19.7   54.992   1LDK        400
18019  ＪＲ山手線  田町            5    19.7   54.992   1LDK        400
17928  ＪＲ山手線  田町            5    19.4   51.972   1LDK        400
...      ...  ..          ...     ...      ...    ...        ...
2045   ＪＲ山手線  田町            4    11.8   20.392     1K        320
2046   ＪＲ山手線  田町            4    11.8   20.392     1K        320
2056   ＪＲ山手線  田町            4    11.8   20.392     1K        320
2057   ＪＲ山手線  田町            4    11.8   20.392     1K        320
2032   ＪＲ山手線  田町            4    11.8   20.392     1K        320

[415 rows x 7 columns]

In [49]:
tamachi = yamanoteline[yamanoteline['最寄駅']=='田町']
tamachi['家賃（万円）'].mean()

13.182289156626492

In [50]:
tamachi.count()

沿線             415
最寄駅            415
駅までの所要時間（分）    415
家賃（万円）         415
占有面積           415
間取り            415
駅までの距離（m）      415
dtype: int64

In [79]:
stations = yamanoteline['最寄駅'].unique().tolist()
stations

['新大久保',
 '田端',
 '大崎',
 '鶯谷',
 '西日暮里',
 '池袋',
 '大塚',
 '駒込',
 '上野',
 '五反田',
 '巣鴨',
 '目黒',
 '神田',
 '高田馬場',
 '代々木',
 '浜松町',
 '御徒町',
 '目白',
 '新宿',
 '日暮里',
 '秋葉原',
 '恵比寿',
 '渋谷',
 '田町',
 '新橋',
 '品川',
 '原宿']

In [80]:
stations[0]

'新大久保'

In [81]:
yamanoteline[yamanoteline['最寄駅']==stations[0]]["家賃（万円）"].mean()

11.541044776119396

In [82]:
yamanoteline[yamanoteline['最寄駅']==stations[0]]["占有面積"].mean()

26.59640298507461

In [110]:
yamanoteline['間取り'].mode()

0    1K
Name: 間取り, dtype: object

In [104]:
data = []

for station in stations:
    rentprice_ave = yamanoteline[yamanoteline['最寄駅']==station]["家賃（万円）"].mean()
    area_ave = yamanoteline[yamanoteline['最寄駅']==station]["占有面積"].mean()
    roomtype = yamanoteline[yamanoteline['最寄駅']==station]["間取り"].mode().tolist()

    datum={}
    datum['駅名']=station
    datum['平均家賃']=rentprice_ave
    datum['平均面積']=area_ave
    datum['最多間取り']=roomtype
    
    data.append(datum)

In [105]:
data

[{'駅名': '新大久保',
  '平均家賃': 11.541044776119396,
  '平均面積': 26.59640298507461,
  '最多間取り': ['1K']},
 {'駅名': '田端',
  '平均家賃': 12.789687500000026,
  '平均面積': 38.05319999999994,
  '最多間取り': ['1LDK']},
 {'駅名': '大崎',
  '平均家賃': 11.53362831858407,
  '平均面積': 38.34086725663712,
  '最多間取り': ['1K']},
 {'駅名': '鶯谷',
  '平均家賃': 12.383405639913278,
  '平均面積': 30.057700650759184,
  '最多間取り': ['2K']},
 {'駅名': '西日暮里',
  '平均家賃': 16.332291666666645,
  '平均面積': 157.29115476190486,
  '最多間取り': ['2LDK']},
 {'駅名': '池袋',
  '平均家賃': 13.13253119429587,
  '平均面積': 35.0604670231728,
  '最多間取り': ['1K']},
 {'駅名': '大塚',
  '平均家賃': 13.823755908895626,
  '平均面積': 30.208415126772582,
  '最多間取り': ['1LDK']},
 {'駅名': '駒込',
  '平均家賃': 11.600054406964079,
  '平均面積': 40.02656800870527,
  '最多間取り': ['1K']},
 {'駅名': '上野',
  '平均家賃': 13.991849816849715,
  '平均面積': 30.763836996337282,
  '最多間取り': ['1DK']},
 {'駅名': '五反田',
  '平均家賃': 15.911826697892243,
  '平均面積': 31.084128805620782,
  '最多間取り': ['1K']},
 {'駅名': '巣鴨',
  '平均家賃': 12.424349442379196,
  '平均面積': 35.36524907063193,
  '最多間取り': ['1K']},
 {'駅名': '目黒',
  '平均家賃': 38.08456973293769,
  '平均面積': 59.83128189910993,
  '最多間取り': ['1LDK']},
 {'駅名': '神田',
  '平均家賃': 17.436503067484676,
  '平均面積': 41.293239263803635,
  '最多間取り': ['1K']},
 {'駅名': '高田馬場',
  '平均家賃': 12.162777777777798,
  '平均面積': 27.469211111111136,
  '最多間取り': ['ワンルーム']},
 {'駅名': '代々木',
  '平均家賃': 17.683478260869613,
  '平均面積': 35.679673913043516,
  '最多間取り': ['2K']},
 {'駅名': '浜松町',
  '平均家賃': 24.805555555555543,
  '平均面積': 36.53821212121204,
  '最多間取り': ['1K']},
 {'駅名': '御徒町',
  '平均家賃': 12.632173913043482,
  '平均面積': 28.48248115942028,
  '最多間取り': ['ワンルーム']},
 {'駅名': '目白',
  '平均家賃': 12.816585365853612,
  '平均面積': 35.11023414634149,
  '最多間取り': ['ワンルーム']},
 {'駅名': '新宿',
  '平均家賃': 17.360937500000002,
  '平均面積': 31.32360937499999,
  '最多間取り': ['1LDK']},
 {'駅名': '日暮里',
  '平均家賃': 14.96228956228958,
  '平均面積': 40.008713804713814,
  '最多間取り': ['2LDK']},
 {'駅名': '秋葉原',
  '平均家賃': 16.66055555555554,
  '平均面積': 38.23684444444443,
  '最多間取り': ['1K']},
 {'駅名': '恵比寿',
  '平均家賃': 21.338338192419837,
  '平均面積': 49.58563556851299,
  '最多間取り': ['1K']},
 {'駅名': '渋谷',
  '平均家賃': 23.64090909090909,
  '平均面積': 44.02046753246751,
  '最多間取り': ['2LDK']},
 {'駅名': '田町',
  '平均家賃': 13.182289156626492,
  '平均面積': 25.510959036144527,
  '最多間取り': ['1K']},
 {'駅名': '新橋',
  '平均家賃': 13.972222222222221,
  '平均面積': 33.017873015873015,
  '最多間取り': ['1K']},
 {'駅名': '品川',
  '平均家賃': 30.633333333333333,
  '平均面積': 60.13147619047616,
  '最多間取り': ['1LDK']},
 {'駅名': '原宿',
  '平均家賃': 12.400000000000002,
  '平均面積': 27.872000000000003,
  '最多間取り': ['1K']}]

In [111]:
df_ave = pd.DataFrame(data)
df_ave

      駅名       平均家賃        平均面積    最多間取り
0   新大久保  11.541045   26.596403     [1K]
1     田端  12.789688   38.053200   [1LDK]
2     大崎  11.533628   38.340867     [1K]
3     鶯谷  12.383406   30.057701     [2K]
4   西日暮里  16.332292  157.291155   [2LDK]
5     池袋  13.132531   35.060467     [1K]
6     大塚  13.823756   30.208415   [1LDK]
7     駒込  11.600054   40.026568     [1K]
8     上野  13.991850   30.763837    [1DK]
9    五反田  15.911827   31.084129     [1K]
10    巣鴨  12.424349   35.365249     [1K]
11    目黒  38.084570   59.831282   [1LDK]
12    神田  17.436503   41.293239     [1K]
13  高田馬場  12.162778   27.469211  [ワンルーム]
14   代々木  17.683478   35.679674     [2K]
15   浜松町  24.805556   36.538212     [1K]
16   御徒町  12.632174   28.482481  [ワンルーム]
17    目白  12.816585   35.110234  [ワンルーム]
18    新宿  17.360938   31.323609   [1LDK]
19   日暮里  14.962290   40.008714   [2LDK]
20   秋葉原  16.660556   38.236844     [1K]
21   恵比寿  21.338338   49.585636     [1K]
22    渋谷  23.640909   44.020468   [2LDK]
23    田町  13.182289   25.510959     [1K]
24    新橋  13.972222   33.017873     [1K]
25    品川  30.633333   60.131476   [1LDK]
26    原宿  12.400000   27.872000     [1K]

In [114]:
df_ave.sort_values(by='平均家賃',ascending=False)

      駅名       平均家賃        平均面積    最多間取り
11    目黒  38.084570   59.831282   [1LDK]
25    品川  30.633333   60.131476   [1LDK]
15   浜松町  24.805556   36.538212     [1K]
22    渋谷  23.640909   44.020468   [2LDK]
21   恵比寿  21.338338   49.585636     [1K]
14   代々木  17.683478   35.679674     [2K]
12    神田  17.436503   41.293239     [1K]
18    新宿  17.360938   31.323609   [1LDK]
20   秋葉原  16.660556   38.236844     [1K]
4   西日暮里  16.332292  157.291155   [2LDK]
9    五反田  15.911827   31.084129     [1K]
19   日暮里  14.962290   40.008714   [2LDK]
8     上野  13.991850   30.763837    [1DK]
24    新橋  13.972222   33.017873     [1K]
6     大塚  13.823756   30.208415   [1LDK]
23    田町  13.182289   25.510959     [1K]
5     池袋  13.132531   35.060467     [1K]
17    目白  12.816585   35.110234  [ワンルーム]
1     田端  12.789688   38.053200   [1LDK]
16   御徒町  12.632174   28.482481  [ワンルーム]
10    巣鴨  12.424349   35.365249     [1K]
26    原宿  12.400000   27.872000     [1K]
3     鶯谷  12.383406   30.057701     [2K]
13  高田馬場  12.162778   27.469211  [ワンルーム]
7     駒込  11.600054   40.026568     [1K]
0   新大久保  11.541045   26.596403     [1K]
2     大崎  11.533628   38.340867     [1K]

In [115]:
df_ave.to_csv('yamastation_ave.csv')